html {
  box-sizing: border-box;
}
*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

/*ГЛАВНАЯ СТРАНИЦА*/

/*Навигация*/

a {
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
 z-index: 1;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}

/*Блок преимуществ*/

.sedona-photo {
  height: 780px;

  background-color: #88b6d1;
  background-image: url(../img/background-images/sedona-photo.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.sedona-welcome-heading {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.sedona-welcome-description {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.cool-reasons-item-city,
.cool-reasons-item-bridge {
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.cool-reasons-item h3,
.cool-reasons-other h3 {
  font-size: 21px;
  line-height: 21px;
}

.cool-reasons-item span,
.cool-reasons-item p,
.cool-reasons-other-item span,
.cool-reasons-other-item p {
  font-size: 14px;
  line-height: 21px;
}

.cool-reasons-other {
  text-align: center;
  background-color: #eeeeee;
}

.offers {
  text-align: center;
}

.offers-housing h3,
.offers-food h3,
.offers-souvenirs h3 {
  font-size: 21px;
  line-height: 21px;
}

/*Блок поиска гостиниц*/

.search-hotels {
  text-align: center;
}

.search-hotels-question {
  font-size: 30px;
  line-height: 36px;
}

.search-hotels-info {
  font-size: 14px;
  line-height: 24px;
}

.modal-search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;


  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  outline: none;
}

.modal-search {
  box-shadow: 0 5px 10px rgba(0, 0 ,0, 0.1);
}
.modal-search-button:hover {
  background-color: #604e43;
}

.modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-search,
.modal-search-arrivals-departures input,
.modal-search-adults-children input {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.modal-search-arrivals-departures input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.modal-search-arrivals-departures input:hover {
  background-color:  #ebebeb;
}

.modal-search-arrivals-departures input:focus {
  background-color:  #ffffff;
}

.modal-search-adults-children input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.modal-search-find-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  outline: none;
}

.modal-search-find-button:hover {
  background-color: #669ec0;
}

.modal-search-find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*Карта*/

.map {
  height: 593px;

  background-image: url(../img/background-images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: beige;
}

/*Футер*/

.main-footer {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.footer-copyright span,
.footer-copyright a {
  font-size: 14px;
  line-height: 26px;

  color: #000000;
}

.footer-copyright a:hover {
  color: #669ec0;
}

.footer-copyright a:active {
  color: #5496bd;
}


.footer-social {
  text-align: center;
}

.footer-social li {
  list-style: none;
}

.social-link a {
  color: #81b3d2;
}

.social-link a:hover {
  color: #669ec0;
}

.social-link a:active {
  color: #5496bd;
}

/*СТРАНИЦА КАТАЛОГА*/

/*Навигация*/

.site-navigation-current-item {
  color: #766357;
}

/*Фильтр*/

.filters {
  color: #ffffff;

  background-color: #3f535d;
  background-image: url(../img/background-images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:   center -55px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter-option-checkbox:hover {
  background-color: #6a6a6a;
}

.price-per-day-show-button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: transparent;

  border: 2px solid white;
  outline: none;
}

.price-per-day-show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

/*Результаты поиска*/

.sort-hotels {
  font-size: 12px;
  line-height: 18px;
}

.sort-hotels-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-options-list li,
.sort-hotels-order {
  list-style: none;
}

.sort-options-list a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
}
.sort-options-list a:hover {
  color: #81b3d2;
  text-decoration: underline dotted #81b3d2;
}

.sort-options-list a:active {
  color: #000000;
  text-decoration: none;
}

.sort-options-current-item {
  color: #81b3d2;
}

/*Каталог жилья*/

.catalog-item-link {
  font-size: 21px;
  line-height: 26px;

  color: #000000;
}

.catalog-item-link:hover {
  color: #81b3d2;
}

.catalog-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-detail-information {
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  outline: none;
}

.catalog-item-detail-information:hover {
  background-color: #669ec0;
}

.catalog-item-detail-information:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-reserve {
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  outline: none;
}

.button-reserve:hover {
  background-color: #604e43;
}

.button-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-item-rating {
  color: #666666;
  background-color: #f2f2f2;
}


/*СЕТКИ*/

/*Главная страница*/

.wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}


.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 16px;
  background-color: #ffffff;
}

.site-navigation-item,
.site-navigation-current-item {
  width: 300px;
}

.site-navigation-item:nth-child(1) {
  text-align: left;
  padding-left: 72px;
  margin-top: 4px;
}

.site-navigation-item:nth-child(2) {
  text-align: left;
  padding-top: 4px;
  padding-left: 13px;

}

.site-navigation-item:nth-child(3) {
  text-align: right;
  padding-top: 4px;
  padding-right: 16px;
}

.site-navigation-item:nth-child(4) {
  text-align: right;
  padding-right: 72px;
  padding-top: 4px;
}

.site-navigation-current-item {
  text-align: right;
  padding-right: 72px;
  padding-top: 4px;
}

.sedona-photo {
  height: 580px;
  background-position: center -56px;
}

.sedona-welcome {
  display: flex;
  flex-direction: column;
  margin: -12px;
}

.sedona-welcome-heading {
  margin: 0;
  padding: 0;
}

.sedona-welcome-description {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 64px;
}

.cool-reasons {
  display: flex;
  min-height: 256px;
  line-height: 0;
}

.cool-reasons-item-city h3,
.cool-reasons-item-city p,
.cool-reasons-item-city span
{
  margin: 0;
}


.cool-reasons-item-city h3 {
  padding-top: 45px;
  padding-bottom: 26px;
  padding-right: 139px;
  padding-left: 138px;
}

.cool-reasons-item-city p {
  padding-top: 20px;
  padding-right: 45px;
  padding-bottom: 60px;
  padding-left: 50px;
}

.cool-reasons-item-bridge {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  order: 1;

  width: 400px;
}

.cool-reasons-item-bridge h3,
.cool-reasons-item-bridge p,
.cool-reasons-item-bridge span
{
  margin: 0;
}

.cool-reasons-item-bridge h3 {
  padding-top: 35px;
  padding-bottom: 3px;
  padding-right: 125px;
  padding-left: 124px;
}

.cool-reasons-item-bridge p {

  padding-bottom: 51px;
  padding-right: 49px;
  padding-left: 48px;
}

.offers {
  display: flex;

  min-height: 330px;
}

.offers-housing h3,
.offers-food h3,
.offers-souvenirs h3 {
  margin: 0;
  padding: 0;
}

.offers-housing p,
.offers-food p,
.offers-souvenirs p {
  margin: 0;
  padding: 0;
}

.offers-housing {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.offers-housing h3 {
  padding-top: 160px;
  padding-left: 163px;
  padding-right: 163px;
}

.offers-housing p {
  padding-top: 23px;
  padding-left: 73px;
  padding-right: 72px;
}

.offers-food {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.offers-food h3 {
  padding-top: 160px;
  padding-left: 182px;
  padding-right: 182px;
}

.offers-food p {
  padding-top: 23px;
  padding-left: 57px;
  padding-right: 54px;
}

.offers-souvenirs {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.offers-souvenirs h3 {
  padding-top: 160px;
  padding-left: 151px;
  padding-right: 181px;
}

.offers-souvenirs p {
  padding-top: 23px;
  padding-left: 59px;
  padding-right: 55px;
}

.cool-reasons-other {
  display: flex;


  min-height: 256px;
}

.cool-reasons-other-item h3,
.cool-reasons-other-item p {
  margin: 0;
  padding: 0;
}

.cool-reasons-other-item:nth-child(1) h3 {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 45px;
  padding-right: 95px;
  padding-bottom: 24px;
  padding-left: 97px;
}

.cool-reasons-other-item:nth-child(1) p {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 21px;
  padding-right: 95px;
  padding-bottom: 24px;
  padding-left: 97px;
}

.cool-reasons-other-item:nth-child(2) h3 {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 45px;
  padding-right: 147px;
  padding-bottom: 24px;
  padding-left: 150px;
}

.cool-reasons-other-item:nth-child(2) p {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 21px;
  padding-right: 67px;
  padding-bottom: 24px;
  padding-left: 69px;
}

.cool-reasons-other-item:nth-child(3) h3 {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 45px;
  padding-right: 147px;
  padding-bottom: 24px;
  padding-left: 150px;
}

.cool-reasons-other-item:nth-child(3) p {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-top: 21px;
  padding-right: 70px;
  padding-bottom: 24px;
  padding-left: 70px;
}

.search-hotels-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-hotels-question {
  margin: 0;
  padding-top: 48px;
}

.search-hotels-info {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 47px;
  padding-left: 3px;
}

.modal-search-button {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 140px;
  padding-right: 137px;
}

.map {
  background-position: center -179px;
}

.main-footer {
  display: flex;
  padding-top: 21px;
  padding-bottom: 36px;
  align-items: center;
}

.footer-hashtag {
  width: 240px;
  margin: 0;
  margin-right: 88px;
  margin-left: 133px;
}

.footer-social {
  display: flex;
  width: 400px;
  margin: 0;
  margin-right: 88px;
}

.footer-copyright {
  width: 240px;
  margin: 0;
  margin-left: 88px;
  margin-right: 111px;
}

/*Гостиницы*/

.filter {
  display: flex;
  min-height: 217px;
}

.filter-option {
  list-style: none;
}

.filter-option:not(:last-child) {
  margin-bottom: 25px;
}

.infrastructure-type-of-housing-wrapper {
  display: flex;
  margin-top: 27px;
}

 legend {
  margin-bottom: 6px;
}

.infrastructure {
  width: 241px;
  margin-left: 61px;
  margin-right: 14px
}

.type-of-housing {
  width: 288px;
  margin-right: 195px;
}

.price-per-day  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 328px;
  margin-right: 73px;
  margin-top: 27px;
}

.price-per-day-show-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 33px;
  padding-right: 33px;

}

.sort-hotels {
  display: flex;
  align-items: baseline;
}

.sort-hotels-result {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 72px;
  margin-right: 48px;
}

.sort-hotels-sorting {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.sort-options-list  {
  display: flex;
  list-style: none;
}

.sort-options-list li {
  margin-right: 32px;
}

.catalog {
  padding-top: 26px;
}

.catalog-list {
  padding: 0;
  margin: 0;
}

.catalog-item {
  display: flex;
  align-items: flex-end;
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 58px;
}

.catalog-item h3 {
  margin: 0;
}

.catalog-item-stars-wrapper {
  margin-left: auto;
}

.catalog-item-rating {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 14px;
}

.catalog-details-and-buttons {
  margin-left: 30px;
}

.catalog-item-details {
  display: flex;
  margin-top: 7px;
  margin-right: 39px;
  margin-bottom: 17px;
}

 .catalog-item-category  {
  width: 110px;
  margin-right: 5px;
  margin-left: 0;
}

 .catalog-item-price  {
  width: 142px;
  margin-right: auto;
  margin-left: 0;
}

.catalog-item-detail-information {
  margin-right: 2px;
}

.catalog-item-detail-information {
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
}

.button-reserve {
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
}



