body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

/*ГЛАВНАЯ СТРАНИЦА*/

/*Навигация*/

a {
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
 z-index: 1;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}

/*Блок преимуществ*/

.sedona-photo {
  width: 1200px;
  height: 780px;

  background-color: #88b6d1;
  background-image: url(../img/background-images/sedona-photo.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.sedona-welcome-heading {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.sedona-welcome-description {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.cool-reasons-item-city,
.cool-reasons-item-bridge {
  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.cool-reasons-item h3,
.cool-reasons-other h3 {
  font-size: 21px;
  line-height: 21px;
}

.cool-reasons-item span,
.cool-reasons-item p,
.cool-reasons-other-item span,
.cool-reasons-other-item p {
  font-size: 14px;
  line-height: 21px;
}

.cool-reasons-other {
  text-align: center;
  background-color: #eeeeee;
}

.offers {
  text-align: center;
}

.offers-housing h3,
.offers-food h3,
.offers-souvenirs h3 {
  font-size: 21px;
  line-height: 21px;
}

/*Блок поиска гостиниц*/

.search-hotels {
  text-align: center;
}

.search-hotels-question {
  font-size: 30px;
  line-height: 36px;
}

.search-hotels-info {
  font-size: 14px;
  line-height: 24px;
}

.modal-search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;


  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  outline: none;
}

.modal-search {
  box-shadow: 0 5px 10px rgba(0, 0 ,0, 0.1);
}
.modal-search-button:hover {
  background-color: #604e43;
}

.modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-search,
.modal-search-arrivals-departures input,
.modal-search-adults-children input {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.modal-search-arrivals-departures input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.modal-search-arrivals-departures input:hover {
  background-color:  #ebebeb;
}

.modal-search-arrivals-departures input:focus {
  background-color:  #ffffff;
}

.modal-search-adults-children input {
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.modal-search-find-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  outline: none;
}

.modal-search-find-button:hover {
  background-color: #669ec0;
}

.modal-search-find-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*Карта*/

.map {
  width: 1200px;
  height: 593px;

  background-image: url(../img/background-images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: beige;
}

/*Футер*/

.main-footer {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.footer-copyright span,
.footer-copyright a {
  font-size: 14px;
  line-height: 26px;

  color: #000000;
}

.footer-copyright a:hover {
  color: #669ec0;
}

.footer-copyright a:active {
  color: #5496bd;
}


.footer-social {
  text-align: center;
}

.footer-social li {
  list-style: none;
}

.social-link a {
  color: #81b3d2;
}

.social-link a:hover {
  color: #669ec0;
}

.social-link a:active {
  color: #5496bd;
}

/*СТРАНИЦА КАТАЛОГА*/

/*Навигация*/

.site-navigation-current-item {
  color: #766357;
}

/*Фильтр*/

.filters {
  color: #ffffff;

  background-color: #3f535d;
  background-image: url(../img/background-images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter-option-checkbox:hover {
  background-color: #6a6a6a;
}

.price-per-day-show-button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: transparent;

  border: 2px solid white;
  outline: none;
}

.price-per-day-show-button:hover {
  color: #000000;
  background-color: #ffffff;
}

/*Результаты поиска*/

.sort-hotels {
  font-size: 12px;
  line-height: 18px;
}

.sort-hotels-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-options-list li,
.sort-hotels-order {
  list-style: none;
}

.sort-options-list a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
}
.sort-options-list a:hover {
  color: #81b3d2;
  text-decoration: underline dotted #81b3d2;
}

.sort-options-list a:active {
  color: #000000;
  text-decoration: none;
}

.sort-options-current-item {
  color: #81b3d2;
}

/*Каталог жилья*/

.catalog-item-link {
  font-size: 21px;
  line-height: 26px;

  color: #000000;
}

.catalog-item-link:hover {
  color: #81b3d2;
}

.catalog-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-detail-information {
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  outline: none;
}

.catalog-item-detail-information:hover {
  background-color: #669ec0;
}

.catalog-item-detail-information:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-reserve {
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  outline: none;
}

.button-reserve:hover {
  background-color: #604e43;
}

.button-reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog-item-rating {
  color: #666666;
  background-color: #f2f2f2;
}


/*СЕТКИ*/

/*Главная страница*/

.main-header-logo {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}


.site-navigation {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  margin-top: -65px;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.site-navigation-item {
  width: 300px;
}

.site-navigation-item:nth-child(1) {
  text-align: left;
  padding-left: 74px;
}

.site-navigation-item:nth-child(2) {
  text-align: left;
}

.site-navigation-item:nth-child(3) {
  text-align: right;
}

.site-navigation-item:nth-child(4) {
  text-align: right;
  padding-right: 74px;
}

.sedona-photo {

  margin-bottom: -156px;
}

.sedona-photo h1 {
  padding: 0;
  margin: 0;
}

.sedona-welcome {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.sedona-welcome-heading {
  margin: 0;
  padding: 0;
}

.sedona-welcome-description {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  padding-bottom: 52px;
}

.cool-reasons {
  display: flex;

  width: 1200px;
  height: 256px;
}

.cool-reasons-item-city {
  width: 400px;

  padding-top: 45px;
  padding-right: 60px;
  padding-bottom: 63px;
  padding-left:  60px;
}

.cool-reasons-item-bridge {
  order: 1;

  width: 400px;

  padding-top: 45px;
  padding-right: 45px;
  padding-bottom: 63px;
  padding-left:  50px;
}

.offers {
  display: flex;
  justify-content: space-around;

  width: 1200px;
  height: 330px;
}

.offers-housing,
.offers-food,
.offers-souvenirs {

  padding-top: 163px;
  padding-right: 74px;
  padding-bottom: 85px;
  padding-left: 74px;
}

.cool-reasons-other {
  display: flex;
  width: 1200px;
  height: 256px;
}

.cool-reasons-other-item {
  padding-top: 45px;
  padding-right: 68px;
  padding-bottom: 63px;
  padding-left: 69px;
}

.search-hotels-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

.search-hotels-question {
  margin: 0;
  padding-top: 55px;
}

.search-hotels-info {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
}

.modal-search-button {
  padding-top: 33px;
  padding-bottom: 30px;
  padding-left: 140px;
  padding-right: 140px;
}

.main-footer {
  display: flex;

  padding-top: 36px;
  padding-bottom: 36px;
  align-items: center;
}

.footer-hashtag {
  width: 240px;
  margin: 0;
  margin-right: 88px;
  margin-left: 74px;
}

.footer-social {
  display: flex;
  width: 400px;
  margin: 0;
  margin-right: 88px;
}

.footer-copright {
  width: 240px;
  margin: 0;
  margin-left: 88px;
  margin-right: 74px;
}

/*Гостиницы*/

.filter {
  display: flex;
  width: 1200px;
  height: 217px;
}

ul .filter-option  {
  list-style: none;
}

.infrastructure-type-of-housing-wrapper {
  display: flex;
  margin-top: 30px;
}

.infrastructure {
  width: 241px;
  margin-left: 73px;
  align-items: center;
}

.type-of-housing {
  width: 288px;
  margin-right: 200px;
}

.price-per-day  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 328px;
  margin-right: 73px;
  margin-top: 30px;
}

.sort-hotels {
  display: flex;
  align-items: baseline;
}

.sort-hotels-result {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 75px;
  margin-right: 50px;
}

.sort-hotels-sorting {
  margin: 0;
  padding: 0;
  margin-top: 38px;
  margin-bottom: 34px;
  margin-left: 49px;
  margin-right: 40px;
}

.sort-options-list  {
  display: flex;
  list-style: none;
}

.sort-options-list li {
  margin-right: 32px;
}

.catalog-item-amara {
  display: flex;
  align-content: center;
}

.catalog-item {
  display: flex;
  align-items: center;
}

.catalog-item-hotel-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 112px;
}

.catalog-item-reserve-container {
  display: flex;
  flex-direction: column;

  align-items:flex-end;
}













